<% provide(:title, "about") %>

<h1>About</h1>

<p>
	Chessbook is a <a class="red_link" href="https://www.facebook.com/">Facebook</a> clone with Chess, made using Ruby on Rails.
</p>

<p class=""> Page made by <a class="red_link" href="#">Andrew Matos</a> </p>