<% provide(:title, "about") %>
<% if logged_in?  %>
	<button id="connect_chat_action_cable" class="hidden"></button> 
	<% if @friends %>
			<div id="contacts">
				<%= render "shared/friends_list", friends: @friends %>
			</div>
	<% end %>

	<div id="space_for_chat_boxes">

	</div>
<% else %>
	<%= render "layouts/login_header", fixed: false %>
<% end %>

<div class="static_page_wrapper">
	<h1>About</h1>

	<p>
		Chessbook is a <a class="red_link" href="https://www.facebook.com/">Facebook</a> clone with an online chess game integrated, made from the ground up using Ruby on Rails.
	</p>

	<p class=""> Page made by <a class="red_link" href="#">Andrew Matos</a> </p>	
</div>

