<% provide(:title, "contact") %>
<% if logged_in?  %>
	<button id="connect_chat_action_cable" class="hidden"></button> 
	<% if @friends %>
			<div id="contacts">
				<%= render "shared/friends_list", friends: @friends %>
			</div>
	<% end %>

	<div id="space_for_chat_boxes">

	</div>
<% else %>

	<%= render "layouts/login_header", fixed: false %>
<% end %>

<div class="static_page_wrapper">
	<h1>Contact</h1>

	<p>
		Contact the creator of this page in the <a class="red_link"  href="https://andrewmatos.github.io/portfolio#contact">Contact Page</a>
	</p>
</div>