<h1>Hello <%=@user.first_name %></h1>
<p> Password reset was requested, To create a new password go here: </p>
					      
<%= link_to "New password", edit_password_reset_url(@user.reset_token, email: @user.email)  , target: "_blank" %>