<div id="edit_user_page">
	<h2><%=@user.name_capitalized %>'s info </h2>
	<% if @user.errors.any? %>
		<ul>
			<% @user.errors.full_messages.each do |message|%> 
				<li> <%= message %> </li> 
			<%end%>
		</ul>
	<% end %>
	<%= form_for(@user) do |f| %>			
			<%= render "shared/form", f: f %>
	<% end %>
</div>
