<%= form_for(current_user.requested_relationships.find_by(friend_pasive_id: @user.id),html:{ method: :delete} ,remote: true) do |f| %>
	<div><%= hidden_field_tag :user_id, @user.id %></div>
	<%= f.submit "Friendship request Sended" %>
<% end %>