<img src="<%= url_for(@friend.avatar.variant(resize: 'x28',  combine_options: {gravity: 'Center', crop: '28 x 28 + 0 + 0'})) %>"  class="message_friend_avatar_pic hidden">
<% if messages %>
		<% (messages.reverse).each do |message| %>
			<% if message.from_user?(current_user) %>
				<li class = "current_user_message">
					<p><%=message.content%></p>
				</li>
			<% else %>
				<% message.read %>
				<li class ="friend_message">
					<img src="<%= url_for(@friend.avatar.variant(resize: 'x28',  combine_options: {gravity: 'Center', crop: '28 x 28 + 0 + 0'})) %>"  class="message_friend_avatar_pic">
					<p><%=message.content%></p>				 
				</li>
			<% end %>
		<% end %>
<% else %>
		<li>Empty chat... write something!</li>
<% end %>