<% if messages %>
		<% (messages.reverse).each do |message| %>
			<% if message.from_user?(current_user) %>
				<li class = "current_user_message">
					<p><%=message.content%></p>
				</li>
			<% else %>
				<% message.read %>
				<li class ="friend_message">
					<img src="<%= url_for(@friend.avatar) %>"  >
					<p><%=message.content%></p>				 
				</li>
			<% end %>
		<% end %>
<% else %>
		<div>Empty chat... write something!</div>
<% end %>