html{
	box-sizing: border-box;
	font-family:Helvetica, Arial, sans-serif;
}

*, *:before, *:after{
	box-sizing: inherit;
}

body{
	font-family: sans-serif;
	margin: 0;
}

.footer{
	width: 100%;
}

.footer_wrapper{
	max-width: 1000px;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 25px;
}


.footer .footer_links{
	display: flex;
	padding: 0;
	flex-direction: row;
	list-style: none;
}

.footer_links a{
	color: #c94b4b;
	font-size: 13px;
	margin: 5px 10px  0px 3px;
	text-decoration: none;
}

.footer_links a:hover{
	text-decoration: underline;
}

.name_author{
	font-size: 12px;
	color: #737373;
}

.name_author a{
	color: #3f3d3d;
	text-decoration: none;
}

.name_author a:hover{
	text-decoration: underline;
}

.red_link{
	text-decoration: none;
	color: #c94b4b;
}

.red_link:hover{
	text-decoration: underline;

}
