

html{
	box-sizing: border-box;
	font-family: Helvetica, Arial, sans-serif;
	height: 100%;
}

*, *:before, *:after{
	box-sizing: inherit;
}

body{
	font-family: sans-serif;
	margin: 0;
	height: 100%;
}


/* hidden miscellaneous elements */

.hide{
	display: none;
}

.hidden{
	display: none;
}


/* login header */

@import url("https://fonts.googleapis.com/css?family=Righteous");

.log-in-bar-fixed{
	background-image: linear-gradient(#ae6262, #ca4d4d 50%);
	border-bottom: 1px solid #5b1d1d;
	display: flex;
	flex-direction:row;
	width: 100%;
	height: 83px;
	color: white;
	align-items: flex-end;
	justify-content: center;
	top: 0;
	left: 0;
	right: 0;
	position: fixed;
	z-index: 10;
}

.log-in-bar{
	background-image: linear-gradient(#ae6262, #ca4d4d 50%);
	border-bottom: 1px solid #5b1d1d;
	display: flex;
	flex-direction:row;
	width: 100%;
	height: 83px;
	color: white;
	align-items: flex-end;
	justify-content: center;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

.log-in-bar h1,.log-in-bar-fixed h1{
	
	margin:0px 19% 10px 0px;
}

.log-in-bar h1 a, .log-in-bar-fixed h1 a{
	font-size: 37px;
	font-family: Righteous, sans-serif;
	font-style: normal;
	font-weight: 900;
	text-decoration: none;
	color: #fff;
}

#login_grid{

	margin: 0;
	margin-left: 19%;
	display: grid;	
	grid-gap:5px;
	grid-template-columns: auto auto auto ;
	grid-template-areas:
	 "labele labelp ."
	 "email  password  log_in"
	 "needa      fpass     ."
	;
	font-family:Helvetica, Arial, sans-serif;
}

#login_grid label{
	color: #fff;
	font-weight: normal;
	padding-left: 1px;
	font-size: 12px;
	text-align: left;
	font-family:inherit;
}

#session_email, #session_password {
	border: 1px solid ;
	border-radius:0;
	border-color: #5b1d1d;
	margin: 0;
	width: 150px;
	height: 25px;
	padding:3px 3px 4px 3px;
	font-family:inherit;
	font-size: 12px;
	background-color: #fff;
	color: #1c1e21;
}

#label_email{
	grid-area: labele;
}

#label_password{
	grid-area: labelp;
}

#session_email{
	grid-area: email;
}

#session_password{
	grid-area: password;
}

#forgot_pass, #need_account{
	color: #ead0d0;
	font-weight: normal;
	font-size: 12px;
	text-decoration: none;
}

#forgot_pass:hover, #need_account:hover{
	text-decoration: underline;
}

#forgot_pass{
	grid-area: fpass;
}

#need_account{
	grid-area: needa;
}




#submit_button{
	grid-area: log_in;
	color: #fff;
	background-color: #c94b4b;
	border: 1px solid #7d2929;
	border-radius: 2px;
	cursor: pointer;
	font-family:inherit;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 2px 6px;
	text-align: center;
	text-decoration: none;
	text-shadow: none;
	vertical-align: top;
	white-space: nowrap;
}

#submit_button:hover{
	background-color: #a23b3b;
	border: 1px solid #662121;
}

/* footer */

.footer{
	width: 100%;
	background-color: white;
}

.footer_wrapper{
	max-width: 1000px;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 25px;
}


.footer .footer_links{
	display: flex;
	padding: 0;
	flex-direction: row;
	list-style: none;
}

.footer_links a{
	color: #c94b4b;
	font-size: 13px;
	margin: 5px 10px  0px 3px;
	text-decoration: none;
}

.footer_links a:hover{
	text-decoration: underline;
}

.name_author{
	font-size: 12px;
	color: #737373;
}

.name_author a{
	color: #3f3d3d;
	text-decoration: none;
}

.name_author a:hover{
	text-decoration: underline;
}

.red_link{
	text-decoration: none;
	color: #c94b4b;
}

.red_link:hover{
	text-decoration: underline;

}


/* friends list */
#contacts{
	position:fixed;
	right: 0;
	top: 0;
}

#connected_friends_list_container{
	z-index: 3;
	display: flex;
	background-color: #f0ebeb;
	position:fixed;
	right: 0;
	width: 205px;
	height: 100%;
	box-shadow: 1px 0 0 #fff inset;
	border-left: 1px solid rgba(0, 0, 0, 0.28);
}

#connected_friends_list_container form{
	margin-top: 40px;
	flex: 1;
	width: 100%;
	display: flex;
	flex-direction: column;
}

#connected_friends_list_container h2{
	position: relative;
	left:10px;
	color:#4a4a4a;
	font-size:13px;
	font-weight: bold;
	font-family: inherit;
	height: 16px;
}

#connected_friends_list{
	list-style: none;
	padding: 1px;
	flex: 1;

}

#connected_friends_list li button{
	padding: 5px;
	display: flex;
	width: 100%;
	background-color: #f0ebeb;
	border: 0px solid;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;

}

#connected_friends_list li button:hover{
	background-color: #dbd5d5;
}

#connected_friends_list li button>*{
	text-align: center;
	margin-right: 10px;
}

#connected_friends_list img{
	border-radius: 50%;
}

#connected_friends_list h3{
	font-size:13px;
	font-weight: normal;

}

.green_dot{

	background: rgb(66, 183, 42) none repeat scroll 0% 0%;
	border-radius: 50%;
	display: inline-block;
	height: 6px;
	width: 6px;
	margin-left: auto;
}

#last_connected{
	color: #9c9090;
	font-size:11px;
	margin-left: auto;
}

/* mini chat boxes */
#space_for_chat_boxes{
	bottom: 0;
	z-index: 3;
	position:fixed;
	height: 50%;
	/* background: grey; */
	width: -webkit-calc(100% - 205px);
    width:    -moz-calc(100% - 205px);
    width:         calc(100% - 205px);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    overflow: hidden;
    pointer-events: none;
}

.chat_box{
	margin: 5px 30px 0px 10px;
	width: 284px;
	height: 351px;
	background: white;
	border-radius: 5px 5px 0 0;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
	display: flex;
	flex-direction: column; 
	pointer-events: auto;
}

.chat_box_name{
	box-sizing: content-box;
	display: flex;
	justify-content: flex-start;

	box-shadow: 0 2px 1px rgba(0,0,0, .1);
	transition: background-color .4s;
	height: 28px;
	padding: 8px 4px 7px 8px;
	cursor: pointer;
}

.chat_box_name:hover{
	background-color: #f0ebeb;
	text-decoration: underline;
}

.chat_box_name a{
	display: inherit;
	align-items: center;
	text-decoration: none;
}

.chat_box_name a img{
	border-radius: 50%;
	margin-right:10px;

}

.chat_box_name a h3{
	font-size: 15px;
	color: #1c1e21;
	font-weight: 600;
}

.chat_box_name button{
	margin-left: auto;
	cursor: pointer;
	border: 0;
	background: none;
}

svg {
    pointer-events: none;
}

.chat_box form{
	box-sizing: content-box;
	padding: 10px;
	display: flex;
	height: 40px;
	align-items: center;
	border-top: 1px solid #dac9c9;
}

.chat_box form textarea{
	border:0;
	flex:1;
	resize: none;
}

.chat_box form button{
	cursor: pointer;
	flex:0;
	border: 0;
	background: none;
}

.chat_box .message_list{
	border: 0px;
	scrollbar-color: #f0ebeb #ca4d4d;
	flex:1;
}


.chat_box .message_list li {
	width: 75%;
	font-size: 13px;
}



.chat_box .message_list li p{
	margin-right: 5px;
}


.chat_box .message_list img{
	height:28px;
	width:28px;
	margin-right: 5px;
	margin-left: 5px;
}

/* user navbar */

#user_navbar{
	z-index: 4;
	position:fixed;
	top:0;
	width: 100%;
	height: 43px;
	background: #ca4d4d;
	border-bottom: 1px solid #5b1d1d3d;
	display:flex;
	justify-content: center;
	align-items: center;
}

#user_navbar_container{
	display:flex;
	width: var(--screen-width);
	align-items: center;

}

#logo_home_link{
	padding: 0;
	height: 24px;
	width: 24px;
	flex:0;
	margin-right: 7px;	
	margin-left: 5%;
}

#logo_home_link svg{

	border-radius: 1px; 
	fill:#ca4d4d;
}

#logo_home_link:hover svg{
	fill: #b74040;
	box-shadow: 0px 0px 5px 1px #ac3939;
}


#search_friend_form{
	width: 448px;
	display: flex;
	margin-right: 25px;
}


#search_friend_bar{
	background-color: #fff;
	border-top: 1px solid #983b3b;
	border-right: 0px solid #983b3b;
	border-bottom: 1px solid #983b3b;
	border-left: 1px solid #983b3b;
    border-radius: 3px 0 0 3px;
    box-sizing: border-box;
   	height: 26px;
 	width: auto;
   	max-width: 448px;
	overflow: hidden;
	padding-left: 5px;
	padding-right: 48px;
	flex:1;
}


#search_friend_button{
	background-color: #f0ebeb;
	border-top: 1px solid #983b3b;
	border-right: 1px solid #983b3b;
	border-bottom: 1px solid #983b3b;
	border-left: 0px solid #983b3b;
    border-radius: 0 3px 3px 0;
    box-sizing: border-box;
   	height: 26px;
   	width: 46px;
   	cursor: pointer;
}

#search_friend_button:hover{
	background-color:#dbd5d5;
}

#navbar_user_buttons, #navbar_options_buttons{
	display: flex;
	align-items: center;
	margin-right: 10px;
	flex-shrink: 0;
}

#navbar_options_buttons{
	margin-left: auto;
}

#navbar_user_buttons a,  #navbar_options_buttons a{
	text-decoration: none;
	flex-shrink: 0;
}

#navbar_user_buttons button,  #navbar_options_buttons button{
	width: auto;
	height: 28px;
	background: none;
	display: flex;
	border: 0px solid;
	box-sizing: content-box;
	border-radius: 2px;
	align-items: center;
	transition: all 0.3s;
	cursor: pointer;
}

#navbar_user_buttons button:hover, #navbar_options_buttons button:hover{
	background: #aa3a3a;
	border-radius: 2px;
}

#navbar_user_buttons img {
	border-radius: 50%;
	margin-right: 5px;
}

#navbar_user_buttons h3, #navbar_options_buttons h3{
	font-size: 12px;
	font-weight: bold;
	line-height: 28px;
	color: #fafafa;
}

.separation_line_navbar_buttons{
	height: 24px;
	width:1px;
	background-color: #aa3a3a;
}

#navbar_notification_buttons{
	display: flex;
	margin-left: 5px;
}

#navbar_notification_buttons div{
	margin-right: 12px;
}

#navbar_notification_buttons  .navbar_button{
	width: auto;
	height: auto;
	padding: 0;
	background: none;
	border: 0px solid;
	transition: all 0.3s;
	cursor: pointer;
}

#navbar_notification_buttons  .navbar_button svg{
	fill:#792b2b;
}

#navbar_notification_buttons  .navbar_button .svg-white{
	fill:white;
}

#navbar_notification_buttons  .navbar_button:hover svg{ 
	fill: #4f1414; 
}

#navbar_notification_buttons  .navbar_button:hover .svg-white{
	fill:white;
}

.display_pointer{
	fill: #ffffff;
	position: absolute;
}

.navbar_display_container{
	position: absolute;
	width: 430px;
	height: auto;
	max-height: calc(var(--screen-height)*0.5);
	background-color: white ;
	top: 8px; 
	right: -16px; 
	border: 1px solid rgba(100, 100, 100, .4);
	border-radius: 0 0 2px 2px;
	box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}


.navbar_display{
 	width: 100%;
}

.navbar_display ul{
 	list-style: none;
 	width: 100%;
 	padding: 0;
 	margin: 0 ;
}

.navbar_display a{
  text-decoration: none;
}

.navbar_display button{
	border: 0;
	border-bottom: 1px solid rgba(100, 100, 100, .4);
	width: 100%;
	height: 61px;
	display: flex;	
}

.navbar_display button img{
	height: 48px;
	width: 48px;
	border-radius: 50%;
	margin: 0 10px 0 10px;
}

.navbar_display button div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.navbar_display button:hover{
	background-color: #f0ebeb;
}

.navbar_display button div p, .navbar_display button div h4, {
	font-size: 12px;
	margin: 0px;
	padding: 0px;
}

.navbar_display button div p strong{
 	font-weight: 900;
 }

.navbar_display button div h4{
	font-weight: 405;
}

.navbar_display  button div h3{
 	font-size: 14px;
	margin: 0px;
	padding: 0px;
 }

.no_post_notification{
	font-size: 14px;
	text-align: center;
	font-weight: 600;
	color: #95720b;
}

 .navbar_display .mini_user_info_box{
	border-bottom: 1px solid #dac9c9b8;
	width: 95%;
	margin: 0 5px;

	padding: 10px 0;
}

 .navbar_display .mini_user_info_box img{
	height: 48px;
	width: 48px;
	border-radius: 50%;
	margin: 0 10px 0 10px;
}

 .navbar_display .mini_user_info_box .mini_user_info_name{
	margin-left: 0;
	padding: 0;
}

 .navbar_display .mini_user_info_box a{
	color: #ca4d4d;
	cursor: pointer;
	text-decoration: none;
	font-size: 11px;
	font-weight: 600;
}

 .navbar_display .mini_user_info_box a:hover{
	text-decoration: underline;
}

 .navbar_display .mini_user_info_box .friendship_form{
	margin-left: auto;
}

 .navbar_display .mini_user_info_box  button{
	margin-left: auto;
	color:#fff;
	background-color: #c94b4b;
	border: 1px solid #7d2929;
	border-radius: 2px;
	cursor: pointer;
	font-family: inherit;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 2px 6px;
	text-align: center;
	text-decoration: none;
	text-shadow: none;
	vertical-align: top;
	white-space: nowrap;
	height: auto;
	width: auto;
}

 .navbar_display .mini_user_info_box  button:hover{
	background-color: #a23b3b;
	border: 1px solid #662121;
}

 .navbar_display .common_friends_container{
	color: #9c9090;
	font-size: 12px;
	align-items: flex-start;
	display: flex;
	justify-content: flex-end;
}

 .navbar_display .common_friends_container .micro_avatar{
	height: 10px;
	width: 10px;	
	border-radius: 50%;	
	margin:0 ;
}

 .navbar_display .common_friends_container  a{
	margin-right:5px;
	width: 10px;
	height: 10px;
}

 .navbar_display .common_friends_container  span{
	font-size: 8px;
}

/* uploading_files */

/* direct_uploads.css */

.direct-upload {
  display: inline-block;
  position: relative;
  padding: 2px 4px;
  margin: 0 3px 3px 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-size: 11px;
  line-height: 13px;
}

.direct-upload--pending {
  opacity: 0.6;
}

.direct-upload__progress {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0.2;
  background: #0076ff;
  transition: width 120ms ease-out, opacity 60ms 60ms ease-in;
  transform: translate3d(0, 0, 0);
}

.direct-upload--complete .direct-upload__progress {
  opacity: 0.4;
}

.direct-upload--error {
  border-color: red;
}

input[type=file][data-direct-upload-url][disabled] {
  display: none;
}



/* overlay*/

#overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  	z-index: 5;
}

#overlay .flex_container{
	display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}

 .upload_image{
	width: 500px;
	height: 200px;
	background: white;
	border-radius: 3px;
}

 .upload_image .upload_title{
	width: 100%;
	background-color: #f0ebeb;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-bottom: 1px solid #5b1d1d3d;
	display: flex;

}

.upload_image .upload_title p{
 	padding:0 10px;
}

.upload_image .upload_title button{
	cursor: pointer;
	margin-left: auto;
	border:0;
	background: none;
}

.upload_image form{
	height: 100%
}


.upload_image .file_input_container{
	width: 100%;
	height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.upload_image input{
	flex-grow: 0;
	width: 95px;

}

.upload_image #user_avatar, .upload_image #user_mural{
	border: 0;
	background: white;
	width: 100%;
}

.clickable_media{
	cursor: pointer;
}

#overlay_inner_media_display{
	width: auto;
	height: auto;
	max-width: calc(var(--screen-width)*0.9);
	max-height:calc(var(--screen-height)*0.9);
	display: flex;
	justify-content: center;
}

#overlay_inner_media_display .post_media_overlay{
	flex-shrink: 1;
	flex-grow:  1 ;
	display: flex;
}

#overlay_inner_media_display .post_media_overlay img{
	width: 100%;
	border:0;
}

#overlay_inner_media_display .post_media_overlay video{
	width: 100%;
	border:0;
}
#overlay_inner_media_display .post_container{
	flex-grow: 0;
	width: calc(var(--screen-width)*0.25);
	margin-top:0;
}

#overlay_inner_user_media_display{
	height: calc(var(--screen-height)*0.7);
}

#overlay_inner_user_media_display img{
	height: 100%;
}