// Place all the styles related to the Static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.static_page_wrapper{
	margin-top: 40px;
	margin-left: 10px;
	margin-bottom: calc(var(--screen-height)/2);
}

#start_signup{
	width: 100%;
	min-height: 612px;
	background: linear-gradient(white, #E8D3D5);
	display: flex;
	justify-content: center;
	font-family:Helvetica, Arial, sans-serif;
	
}

#start_signup_grid{
	display: grid;
	grid-gap: 40px;
	grid-template-columns: auto auto;
	margin: 0 auto;
}

#signup_phrase{
	color:#5b1d1d;
	font-size: 20px;
	font-weight: bold;
	line-height: 29px;
	margin-top: 40px;
	width: 450px;
	
}


#start_signup_grid form {

	width: 450px;
	
	display: grid;
	align-items: start;
	align-content: start;
	grid-gap: 15px;
	grid-template-columns: 1fr 1fr; 
	

	grid-template-areas:
	"sptitle sptitle"
	"spfname splname"
	"spemail spemail"
	"sppass  sppass"
	"spbday  spbday"
	"spgen   spgen"
	"spsub ."
	; 

	/*
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	*/
	
}

#start_signup_grid form input{
	font-size: 18px;
	padding: 8px 10px;
	border-color: #bdc7d8;
	border-radius: 5px;
	margin: 0;
	border: 1px solid #d5cccc;
	width: 100%;
}


#start_signup_grid form h2{
	font-size: 36px;

}

#start_signup_grid #sp_title{
	grid-area: sptitle;
}

#start_signup_grid #sp_first_name{
	grid-area: spfname;
	
}

#start_signup_grid #sp_last_name{
	grid-area: splname;
}

#start_signup_grid #sp_email{
	grid-area: spemail;
}

#start_signup_grid #sp_password{
	grid-area: sppass;
}

#start_signup_grid #sp_birthday{
	margin-top: 10px;
	grid-area: spbday;
}

#start_signup_grid #sp_gender {
	grid-area: spgen;
}


#start_signup_grid #sp_gender input{
	
	margin-top: 10px;
	width: auto;
}

#start_signup_grid #sp_submit{
	margin-top: 10px;
	grid-area: spsub;

}

#start_signup_grid #sp_submit input{
	cursor: pointer;
	min-width: 194px;
	padding: 7px 20px;
	font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
	font-weight: bold ;
	letter-spacing: normal;
	text-align: center;
	border-radius: 5px;
	border: 1px solid;
	box-shadow: inset 0 1px 1px #fff;
	border-color: #6e5d22 #6e6822 #514c15;
	background: linear-gradient(#F2B138, #987025);
	color: #fff;
	text-shadow: 0 1px 2px rgba(0,0,0,.5);
}

#start_signup_grid #sp_submit input:hover{
	background: linear-gradient(#FBB73A, #a87b28);
}

#login_page{
	margin: 50px auto;
	padding: 50px;
	background-color: #f0ebeb;
	border-radius: 3px;
	border: 1px solid #5b1d1d3d;
	width: 50%;
}

#login_page form{
	display: grid;
	grid-gap: 5px;
	grid-template-areas: "labele labelp labelr . " "email password remember log_in";
	font-family: Helvetica, Arial, sans-serif;
}

#login_page form .label{
	font-weight: normal;
	padding-left: 1px;
	font-size: 12px;
	text-align: left;
	font-family: inherit;
	width: auto;
}

#login_page form  #label_email{
	grid-area: labele;
	width: 100%;
}

#login_page form #label_password{
	grid-area: labelp;
	width: 100%;
}

#login_page form  #session_email{
	grid-area: email;
	width: 100%;
}

#login_page form #session_password{
	grid-area: password;
	width: 100%;
}

#login_page form #label_remember{
	grid-area: labelr;
	width: 100%;
}

#login_page form  #session_remember{
	grid-area: remember;
	margin-right: auto;
	width: 100%;
}

#login form #submit_button{
	grid-area: log_in;
	color: #fff;
	background-color: #c94b4b;
	border: 1px solid #7d2929;
	border-radius: 2px;
	cursor: pointer;
	font-family: inherit;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 2px 6px;
	text-align: center;
	text-decoration: none;
	text-shadow: none;
	white-space: nowrap;
	width: 60px;
}

#login form #submit_button:hover{
	background-color: #a23b3b;
	border: 1px solid #662121;
}