<navbar id="user_navbar">
	<div id="user_navbar_container">
		<a href="/" id="logo_home_link">
			<svg width="24px" height="24px" viewBox="0 0 750 750" version="1.1" xmlns="http://www.w3.org/2000/svg">
				<path fill="#fafafa" stroke="#fafafa" stroke-width="0.09375" opacity="1.00" d=" M 0.0 0.0 L 750.0 0.0 L 750.0 750.0 L 716.7 750.0 C 731.0 747.4 742.0 733.5 741.5 719.0 C 741.8 710.0 737.1 701.3 730.0 695.9 C 719.6 687.9 711.7 677.4 702.6 668.2 C 705.2 662.4 708.2 656.5 708.9 650.1 C 711.1 635.5 705.2 620.5 694.7 610.3 C 685.2 600.2 672.1 594.4 662.4 584.6 C 654.2 576.0 650.6 564.3 647.6 553.1 C 645.8 546.2 642.3 538.3 634.8 536.1 C 625.0 534.1 615.1 532.7 605.3 530.5 C 599.8 512.0 596.5 492.9 592.2 474.1 C 590.8 468.4 590.2 462.6 589.2 456.9 C 586.3 439.7 582.8 422.5 582.6 405.0 C 582.4 393.7 582.4 382.3 582.7 371.0 C 582.8 356.6 584.7 342.4 586.2 328.1 C 595.5 328.0 604.9 328.6 614.1 327.5 C 626.6 325.8 637.3 315.5 639.6 303.1 C 642.4 290.5 636.2 276.5 625.0 270.0 C 617.2 265.1 607.7 265.5 598.9 265.6 C 602.3 255.2 605.3 244.7 609.1 234.4 C 601.0 234.4 593.0 234.4 585.0 234.3 C 591.4 227.6 595.7 219.4 600.7 211.6 C 603.3 207.3 606.5 203.5 609.1 199.2 C 620.8 180.4 626.3 158.0 624.9 135.9 C 623.2 105.7 607.8 76.7 584.2 57.8 C 568.9 45.5 550.4 37.2 530.9 34.6 C 504.7 30.8 477.1 37.3 455.3 52.3 C 431.6 68.3 414.2 93.8 408.9 122.0 C 404.0 146.3 408.2 172.2 420.1 193.9 C 423.7 200.8 428.8 206.7 432.2 213.7 C 435.9 221.3 441.0 228.0 446.4 234.5 C 438.3 234.4 430.2 234.5 422.1 234.3 C 426.2 244.5 429.0 255.2 432.5 265.6 C 424.3 265.5 415.7 265.1 408.2 269.1 C 397.6 274.4 390.6 286.2 391.2 298.1 C 391.7 310.4 400.1 322.4 412.0 326.2 C 423.3 329.9 435.3 327.1 446.8 328.4 C 449.1 338.5 448.0 348.8 448.1 359.0 C 450.8 415.4 439.6 471.4 424.2 525.3 C 421.3 530.3 414.8 531.5 409.5 532.2 C 401.7 533.0 392.6 532.6 386.6 538.6 C 377.0 549.1 378.2 565.2 369.0 576.0 C 357.6 589.9 341.1 598.0 328.1 610.1 C 322.9 615.0 319.6 621.6 317.6 628.4 C 316.7 631.2 315.8 634.0 316.2 637.0 C 317.3 648.8 320.1 660.8 327.0 670.6 C 322.0 676.0 316.9 681.5 311.9 686.9 C 308.3 690.8 303.1 692.6 299.2 696.2 C 292.0 702.9 287.6 713.1 289.1 723.0 C 290.4 736.0 300.8 747.2 313.5 750.0 L 0.0 750.0 L 0.0 0.0 Z" />
				<path  stroke="#b40d0e" stroke-width="0.09375" opacity="1.00" d=" M 455.3 52.3 C 477.1 37.3 504.7 30.8 530.9 34.6 C 550.4 37.2 568.9 45.5 584.2 57.8 C 607.8 76.7 623.2 105.7 624.9 135.9 C 626.3 158.0 620.8 180.4 609.1 199.2 C 606.5 203.5 603.3 207.3 600.7 211.6 C 595.7 219.4 591.4 227.6 585.0 234.3 C 593.0 234.4 601.0 234.4 609.1 234.4 C 605.3 244.7 602.3 255.2 598.9 265.6 C 607.7 265.5 617.2 265.1 625.0 270.0 C 636.2 276.5 642.4 290.5 639.6 303.1 C 637.3 315.5 626.6 325.8 614.1 327.5 C 604.9 328.6 595.5 328.0 586.2 328.1 C 584.7 342.4 582.8 356.6 582.7 371.0 C 582.4 382.3 582.4 393.7 582.6 405.0 C 582.8 422.5 586.3 439.7 589.2 456.9 C 590.2 462.6 590.8 468.4 592.2 474.1 C 596.5 492.9 599.8 512.0 605.3 530.5 C 615.1 532.7 625.0 534.1 634.8 536.1 C 642.3 538.3 645.8 546.2 647.6 553.1 C 650.6 564.3 654.2 576.0 662.4 584.6 C 672.1 594.4 685.2 600.2 694.7 610.3 C 705.2 620.5 711.1 635.5 708.9 650.1 C 708.2 656.5 705.2 662.4 702.6 668.2 C 711.7 677.4 719.6 687.9 730.0 695.9 C 737.1 701.3 741.8 710.0 741.5 719.0 C 742.0 733.5 731.0 747.4 716.7 750.0 L 313.5 750.0 C 300.8 747.2 290.4 736.0 289.1 723.0 C 287.6 713.1 292.0 702.9 299.2 696.2 C 303.1 692.6 308.3 690.8 311.9 686.9 C 316.9 681.5 322.0 676.0 327.0 670.6 C 320.1 660.8 317.3 648.8 316.2 637.0 C 315.8 634.0 316.7 631.2 317.6 628.4 C 319.6 621.6 322.9 615.0 328.1 610.1 C 341.1 598.0 357.6 589.9 369.0 576.0 C 378.2 565.2 377.0 549.1 386.6 538.6 C 392.6 532.6 401.7 533.0 409.5 532.2 C 414.8 531.5 421.3 530.3 424.2 525.3 C 439.6 471.4 450.8 415.4 448.1 359.0 C 448.0 348.8 449.1 338.5 446.8 328.4 C 435.3 327.1 423.3 329.9 412.0 326.2 C 400.1 322.4 391.7 310.4 391.2 298.1 C 390.6 286.2 397.6 274.4 408.2 269.1 C 415.7 265.1 424.3 265.5 432.5 265.6 C 429.0 255.2 426.2 244.5 422.1 234.3 C 430.2 234.5 438.3 234.4 446.4 234.5 C 441.0 228.0 435.9 221.3 432.2 213.7 C 428.8 206.7 423.7 200.8 420.1 193.9 C 408.2 172.2 404.0 146.3 408.9 122.0 C 414.2 93.8 431.6 68.3 455.3 52.3 Z" />
			</svg>						
		</a>
		<form action="/users" accept-charset="UTF-8" method="get" id="search_friend_form"> 
			
			<input type="text" name="search" id="search_friend_bar" placeholder="Search" ><button type="submit" id="search_friend_button">
				<svg width="15px"  height="15px"  viewBox="0 0 680 680" version="1.1" xmlns="http://www.w3.org/2000/svg">
				<path fill="#595959" stroke="#595959" stroke-width="0.09375" opacity="1.00" d=" M 102.9 72.9 C 141.0 40.2 189.8 20.1 239.9 16.3 C 289.9 12.3 341.0 24.2 383.8 50.3 C 423.1 74.0 455.4 109.3 475.3 150.7 C 495.9 192.7 503.5 240.8 497.4 287.1 C 491.8 331.4 473.5 373.9 445.2 408.4 C 445.3 409.8 445.4 411.2 445.4 412.7 L 446.7 412.2 L 446.3 413.6 L 447.2 413.6 C 449.6 417.8 453.1 421.1 456.5 424.5 C 501.2 473.9 546.1 523.0 591.1 572.0 C 593.1 574.3 595.7 576.7 595.8 580.0 C 580.5 591.2 565.9 603.2 550.8 614.5 C 549.9 614.6 549.2 614.3 548.6 613.5 C 510.5 571.2 472.5 528.9 434.3 486.6 C 423.7 474.7 412.4 463.2 403.1 450.2 C 399.7 450.2 397.4 453.1 394.7 454.7 C 373.9 469.0 350.7 479.9 326.5 486.9 C 279.8 500.5 229.1 499.6 183.0 484.3 C 159.6 476.5 137.4 465.1 117.4 450.6 C 76.6 421.1 45.6 378.4 30.3 330.4 C 11.5 272.8 15.4 208.1 41.4 153.4 C 55.8 122.5 77.0 94.9 102.9 72.9 M 243.2 38.2 C 189.9 41.4 138.3 65.8 101.7 104.8 C 75.7 132.3 57.3 166.9 48.8 203.8 C 41.6 235.1 41.6 268.1 48.7 299.5 C 56.4 333.4 72.5 365.4 95.3 391.7 C 126.1 427.7 169.4 452.7 215.9 461.6 C 261.8 470.6 310.6 464.2 352.5 443.3 C 366.2 436.6 378.8 427.9 391.5 419.3 C 399.2 413.9 405.6 406.9 411.8 399.7 C 438.6 371.9 457.6 336.6 466.1 298.9 C 475.7 256.5 472.2 211.2 455.9 170.9 C 441.2 134.5 416.4 102.4 384.8 79.2 C 344.5 49.3 293.3 34.4 243.2 38.2 Z" />
				</svg>
			</button>
		</form>
		

		<div id="navbar_user_buttons">
			
			<a href="<%= url_for(current_user) %>">
				<button>
					<img src="<%= url_for(current_user.avatar.variant(resize: 'x24',  combine_options: {gravity: 'Center', crop: '24 x 24 + 0 + 0'})) %>"  height="24" width="24">
					<h3><%= current_user.name_capitalized %> </h3>
				</button>
			</a>

			<div class="separation_line_navbar_buttons"></div>

			<a href="/">
				<button>
					<h3>Home</h3>
				</button>
			</a>

			<div class="separation_line_navbar_buttons"></div>

			<a href="/users">
				<button>
					<h3>Search friends</h3>
				</button>
			</a>

			<div class="separation_line_navbar_buttons"></div>

			<a href="/gamechat" data-turbolinks="false">
				<button>
					<h3>Games and chat</h3>
				</button>
			</a>


			<div class="separation_line_navbar_buttons"></div>
		</div>


		 	
		<div id="navbar_notification_buttons" >
			<%= render 'layouts/navbar_notification_buttons' %>


		</div>

		<div class="separation_line_navbar_buttons"></div>

		<div id="navbar_options_buttons">
						
			   <a user_id="1" rel="nofollow" data-method="delete" href="/logout">	
					<button>
						<h3>Logout</h3>
					</button>
			   </a>
		</div>

	</div>
</navbar>